*.tsv
*.gz
.Rproj.user
*.csv
sorted_map
driver_stat_map_out
driver_stat_reduce_out
driver_stats_map
driver_stats_map_out
quantity_map_out
part-00000
part-00001
out
.RData
.Rhistory
join_map_out
join_out
A2/taxi-data/part-00002
A2/taxi-data/part-00003
A2/taxi-data/part-00004
A2/taxi-data/part-00005
A2/taxi-data/part-00006
A2/taxi-data/part-00007
A2/taxi-data/part-00008
A2/taxi-data/part-00009
A2/taxi-data/part-00010
A2/taxi-data/part-00011
A2/taxi-data/part-00012
A2/taxi-data/part-00013
A2/taxi-data/part-00014
A2/taxi-data/part-00015
A2/taxi-data/part-00016
A2/taxi-data/part-00017
A2/taxi-data/part-00018
A2/taxi-data/part-00019
A2/taxi-data/part-00020
A2/taxi-data/part-00021
A2/taxi-data/part-00022
A2/taxi-data/part-00023
A2/taxi-data/part-00024
A2/taxi-data/part-00025
A2/taxi-data/part-00026
